@model IEnumerable<ADE.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Eventos agendados</h1>

<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<!-- Or for RTL support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<p>
    <a class="btn btn-primary" role="button" aria-pressed="true" asp-action="Create">Ingresar un nuevo evento</a>
</p>
<button type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("Reporte", "Eventos", new {  selected_nom_res = ViewBag.selected_nom_res, selected_estado_eve=ViewBag.selected_estado_eve, fechaInicio = ViewBag.fechaInicio, fechaFin = ViewBag.fechaFin }))'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-xls" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM6.472 15.29a1.2 1.2 0 0 1-.111-.449h.765a.58.58 0 0 0 .254.384q.106.073.25.114.143.041.319.041.246 0 .413-.07a.56.56 0 0 0 .255-.193.5.5 0 0 0 .085-.29.39.39 0 0 0-.153-.326q-.152-.12-.462-.193l-.619-.143a1.7 1.7 0 0 1-.539-.214 1 1 0 0 1-.351-.367 1.1 1.1 0 0 1-.123-.524q0-.366.19-.639.19-.272.527-.422.338-.15.777-.149.457 0 .78.152.324.153.5.41.18.255.2.566h-.75a.56.56 0 0 0-.12-.258.6.6 0 0 0-.247-.181.9.9 0 0 0-.369-.068q-.325 0-.513.152a.47.47 0 0 0-.184.384q0 .18.143.3a1 1 0 0 0 .405.175l.62.143q.326.075.566.211a1 1 0 0 1 .375.358q.135.222.135.56 0 .37-.188.656a1.2 1.2 0 0 1-.539.439q-.351.158-.858.158-.381 0-.665-.09a1.4 1.4 0 0 1-.478-.252 1.1 1.1 0 0 1-.29-.375m-2.945-3.358h-.893L1.81 13.37h-.036l-.832-1.438h-.93l1.227 1.983L0 15.931h.861l.853-1.415h.035l.85 1.415h.908L2.253 13.94zm2.727 3.325H4.557v-3.325h-.79v4h2.487z" />
    </svg> Exportar a Excel los registros de abajo
</button>
<table class="table">
    @using (Html.BeginForm("IndexAdmin", "Eventos", FormMethod.Get))
    {

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreResponsableEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPagarEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbonadoEvento)
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                    <label >Desde</label>
                    <input id="fechaInicio" name="fechaInicio" type="date" value=@ViewBag.fechaInicio onchange="form.submit()" />
                    <br>
                    <label>Hasta</label>
                    <input id="fechaFin" name="fechaFin" type="date" value=@ViewBag.fechaFin onchange="form.submit()" />

            </th>
            <th>
                @Html.DropDownList("selected_nom_res",
                         new SelectList(ViewBag.unique_nom_res, "Value", "Text", "ViewBag.selected_nom_res"),
                         "Todos", new { onchange = "form.submit();", id = "filtro_responsable" })
            </th>
            <th>

            </th>
            <th>
                    @Html.DropDownList("selected_estado_eve",
                             new SelectList(ViewBag.opciones_estado, "Value", "Text", "ViewBag.selected_estado_eve"),
                             "Todos", new { onchange = "form.submit();", id = "filtro_estado" })
            </th>
            <th>

            </th>

        </tr>
    </thead>
    }
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreResponsableEvento)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPagarEvento)
            </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.AbonadoEvento)
                </td>
            <td>
                <div class="botones-grupo">
                        <a class="btn btn-primary botones" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a>
                        <a class="btn btn-danger botones" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.IdEvento">Borrar</a>
                        <a class="btn btn-secondary botones" role="button" aria-pressed="true" asp-action="Details" asp-route-id="@item.IdEvento">Mas detalles</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">



    $('#filtro_responsable').select2({
        theme: 'bootstrap-5',
        selectionCssClass: "select2--small",
        dropdownCssClass: "select2--small",
    });
    $('#filtro_estado').select2({
        theme: 'bootstrap-5',
        selectionCssClass: "select2--small",
        dropdownCssClass: "select2--small",
    });


</script>